.businessAllPage, .applicationBox, .businessDtoD{
    padding: 5px 10px;
    .contBlock{
        // width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background: #fff;
        margin-bottom: 10px;
        height: 100px;
        border-radius: 4px;
        position: relative;
        .title{
            height: 24px;
            line-height: 24px;
            display: table-cell;
            .icon{
                margin-right: 6px;
                width: 20px;
                height: 20px;
            }
            span{
                vertical-align: middle;
            }
        }
        .flexStyle{
            height: 24px;
            line-height: 24px;
            display: flex;
            justify-content: space-between;
            margin: 6px 0;
            font-size: 12px;
        }
        .chartBox{
            width: 100%;
            height: 5px;
            background: #f0f0f0;
            div{
                height: 5px;
                background: rgba(57, 126, 253, 1);
            }
        }
        >ul{
            margin-top: 6px;
            margin-left: 26px;
            >li{
                height: auto;
                .list_item{
                    height: 20px;
                    line-height: 20px;
                    color: #666;
                    font-size: 12px;
                    margin-bottom: 6px;
                    display: flex;
                    justify-content: space-between;
                }
                .list_inner_box{
                    background-color: #f0f0f0;
                    height: 5px;
                    position: relative;
                    .list_chart{
                        height: 5px;
                    }
                    .list_chart:hover {
                            height: 5px;
                            position: absolute;
                            left: 0;
                            top: -2px;
                            background: rgba(57, 126, 253, 1)!important;
                        }
                }
            }
        }
        .menuList{
            display: flex;
            li{
                flex: 1;
                border-left: 1px solid #f0f0f0;
                padding-left: 20px;
                font-size: 12px;
                .bg{
                    color: rgba(124, 176, 255, 1);
                }
            }
            li:nth-child(1){
                background: rgba(229, 229, 229, 0.23);
                margin-right: 20px;
                padding-left: 0;
                border-left: 0;
                position: relative;
                p{
                    position: absolute;
                    left: 50%;
                    margin-left: -50px;
                    top: 50%;
                    margin-top: -10px;
                }
            }
        }
        .dashboard{
            position: absolute;
            left: 50%;
            margin-left: -43px;
            top: 50%;
            margin-top: -43px;
        }
    }
    .apdexCharts{
        position: relative;
        .colorBlock{
            width: 12px;
            height: 40px;
            position: absolute;
            left: 20px;
            top: 0;
            background: #EF651F;
            li {
                // position: relative;
                font-size: 10px;
            }
            li:first-child {
                height: 6px;
                background: #2AB06F;
            }
            li:nth-child(2) {
                height: 8px;
                background: #6BCB8B;
            }
            li:nth-child(3) {
                height: 10px;
                background: #FFE11C;
            }
        }
    }
}
.businessDtoD{
    padding: 0;
    .dTodTitle{
        width: 100% ;
        height: 32px;
        line-height: 32px;
        color: rgba(80, 80, 80, 1);
        background-color: rgba(166, 166, 166, 0.16);
        font-size: 12px;
        padding:  0 10px;
        span:first-child {
            margin-right: 20px;
        }
    }
    .contBlock{
        margin: 0 10px;
    }
}