@charset "UTF-8";
.event-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 12px;
}

.event-content .am-tabs-pane-wrap {
  margin-top: 40px;
}

.event-content .am-tabs-default-bar-top .am-tabs-default-bar-tab::after {
  height: 0PX !important;
}

.event-content .am-tabs-default-bar-top .am-tabs-default-bar-tab {
  font-size: 12px;
}

.event-content .am-tabs-tab-bar-wrap .am-tabs-default-bar-content {
  padding: 0 10px;
}

.event-content .am-tabs-tab-bar-wrap .am-tabs-default-bar-tab-active {
  color: #108ee9;
  border: 1px solid #108ee9 !important;
  border-radius: 20px;
  height: 32px;
  margin-top: 6px;
  line-height: 32px;
  box-sizing: border-box;
}

.event-content .am-tabs-tab-bar-wrap .am-tabs-default-bar-underline {
  border: none;
}

.event-content .am-tabs-tab-bar-wrap .am-tabs-default-bar-tab::after {
  height: 0PX;
}

.event-content .tab-header {
  width: 100%;
  margin-top: 5px;
  padding: 0px 10px 0px 10px;
  position: absolute;
  top: 43.5px;
  display: flex;
  z-index: 1;
}

.event-content .tab-header .tab-select {
  position: absolute;
  right: 10px;
  height: 21px;
  color: #505050;
  font-size: 14px;
  display: flex;
}

.event-content .tab-header .tab-select p {
  width: 28px;
  height: 24px;
  color: #505050;
  font-size: 14px;
  line-height: 24px;
}

.event-content .tab-header .tab-select img {
  width: 24px;
  height: 24px;
  color: #999999;
}

.event-content .tab-cont .contBok {
  display: flex;
  width: 100%;
  height: 60px;
  color: #505050;
  background-color: white;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 11px;
  border-radius: 4px;
}

.event-content .tab-cont .contBok .eventState {
  width: 50px;
  height: 60px;
  color: #505050;
  font-size: 12px;
  border-radius: 4px 16px 16px 4px;
  float: left;
  line-height: 60px;
}

.event-content .tab-cont .contBok .eventCont {
  position: relative;
  height: 100%;
  width: 100%;
  float: left;
  margin-left: 20px;
}

.event-content .tab-cont .contBok .eventCont .eventID {
  position: absolute;
  top: 10px;
  left: 0px;
}

.event-content .tab-cont .contBok .eventCont .eventText {
  position: absolute;
  top: 10px;
  left: 80px;
}

.event-content .tab-cont .contBok .eventCont .handleState {
  position: absolute;
  top: 33px;
  left: 0px;
}

.event-content .tab-cont .contBok .eventCont .contColor {
  color: #397efd;
  position: absolute;
  top: 33px;
  left: 0px;
}

.clear_float::after {
  /*只需要给浮动元素的父容器添加上这个类就可以了: clear_float*/
  display: block;
  /*把::after设置成块级元素*/
  content: "";
  /*想让伪类起作用, 必须添加这个属性*/
  clear: both;
}

.eventTab {
  display: none;
  width: 100%;
}

.eventTab .dialogThroughput .throughputHeader {
  margin-top: -1PX;
  padding: 0;
  width: 100%;
  height: 44px;
  line-height: 44px;
  display: flex;
  background: #fff;
  padding: 0 5px;
  border-bottom: 1px solid #f2f2f2;
}

.eventTab .dialogThroughput .throughputHeader div:first-child {
  padding-top: 5px;
}

.eventTab .dialogThroughput .throughputHeader div:nth-child(2) {
  flex: 1;
  font-size: 16px;
  text-align: center;
}

.eventTab .dialogThroughput .eventbg {
  height: auto;
  background: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
  color: gray;
  position: relative;
}

.eventTab .dialogThroughput .eventbg p {
  margin: 6px 0;
}

.eventTab .dialogThroughput .eventbg p img {
  padding-right: 10px;
}

.eventTab .dialogThroughput .eventbg i {
  display: flex;
  width: 100%;
  height: 1px;
  background: rgba(128, 128, 128, 0.3);
}

.eventTab .dialogThroughput .eventbg .eventTitle {
  color: #505050;
  font-size: 14px;
  line-height: 150%;
  text-align: left;
}

.eventTab .dialogThroughput .eventbg ul {
  font-size: 12px;
}

.eventTab .dialogThroughput .eventbg ul li {
  white-space: nowrap;
  float: left;
  width: 158px;
  height: 18px;
  margin-top: 5px;
}

.eventTab .dialogThroughput .eventbg ul li .eventbgbutton1 {
  width: 84px;
  height: 18px;
  color: #b67eda;
  box-shadow: #b67eda solid 1px !important;
  font-size: 14px;
  text-align: center;
  line-height: 1;
  background-color: #fff;
}

.eventTab .dialogThroughput .eventbg ul li .rankBox {
  width: 25px;
  height: 10px;
  color: #505050;
  margin-top: 5px;
}

.eventTab .dialogThroughput .eventbg ul li:last-child {
  display: flex;
}

.eventTab .dialogThroughput .eventbg .eventDescribe {
  width: 100%;
  font-size: 12px;
}

.eventTab .dialogThroughput .eventbg .eventbgbutton2 {
  width: 80px;
  height: 24px;
  color: white;
  background-color: #b67eda;
  font-size: 14px;
  text-align: center;
}

.eventTab .dialogThroughput .eventbg .selectCont {
  height: 180px;
}

.eventTab .dialogThroughput .eventbg .selectCont .el-radio-group .el-radio {
  white-space: nowrap;
  float: left;
  width: 158px;
  height: 20px;
  margin-left: 0em;
  margin-top: 5px;
}

.eventTab .dialogThroughput .eventbg .selectCont input {
  width: 100%;
  height: 25px;
}

.eventTab .dialogThroughput .eventbg2 {
  height: auto;
  background: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
  color: gray;
  position: relative;
}

.eventTab .dialogThroughput .eventbg2 p {
  margin: 6px 0;
  font-size: 10px;
}

.eventTab .dialogThroughput .eventbg2 i {
  display: flex;
  width: 100%;
  height: 1px;
  background: rgba(128, 128, 128, 0.3);
}

.eventTab .dialogThroughput .eventbg2 .eventTitle {
  color: #505050;
  font-size: 14px;
  line-height: 150%;
  text-align: left;
}

.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #e5e5e5 !important;
  color: #505050;
}

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #e5e5e5 !important;
  color: #505050;
}

.ant-drawer-content .ant-drawer-body {
  padding: 5px;
  height: 100%;
  position: relative;
}

.ant-drawer-content .ant-drawer-body p {
  width: 100%;
  height: 21px;
  color: #505050;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  margin-left: 18px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.ant-drawer-content .ant-drawer-body .drawerTitle {
  margin-top: -1PX;
  padding: 0;
  width: 100%;
  height: 48px;
  line-height: 48px;
  display: flex;
  background: #fff;
  padding: 0 5px;
  border-bottom: 1px solid #f2f2f2;
}

.ant-drawer-content .ant-drawer-body .drawerTitle div:first-child {
  padding-top: 5px;
}

.ant-drawer-content .ant-drawer-body .drawerTitle div:nth-child(2) {
  flex: 1;
  font-size: 16px;
  text-align: center;
}

.ant-drawer-content .ant-drawer-body .color-box ul {
  margin-left: 18px;
}

.ant-drawer-content .ant-drawer-body .color-box ul li {
  margin-top: 23px;
  width: 50%;
  float: left;
  display: flex;
}

.ant-drawer-content .ant-drawer-body .color-box ul li p {
  margin-left: 10px;
  margin-top: 0px;
  height: 18px;
  color: #505050;
  font-size: 12px;
}

.ant-drawer-content .ant-drawer-body .color-box ul li .smallbox {
  padding: 0;
  display: block;
  height: 24px;
  width: 31px;
}

.ant-drawer-content .ant-drawer-body .sourceSeleBtn {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  left: -1px;
}

.ant-drawer-content .ant-drawer-body .sourceSeleBtn .ant-btn {
  flex: 1;
  font-size: 15px;
}

.ant-drawer-content .ant-drawer-body .sourceSeleBtn .ant-btn:hover, .ant-drawer-content .ant-drawer-body .sourceSeleBtn .ant-btn:focus {
  color: #505050;
  border-color: #e5e5e5;
}

.ant-drawer-content .ant-drawer-body .sourceSeleBtn .ant-btn:first-child {
  background: #e5e5e5;
  border-radius: 0;
}

.ant-drawer-content .ant-drawer-body .sourceSeleBtn .ant-btn:last-child {
  color: white;
  background: #397efd;
  border-radius: 0;
}

.ant-drawer-content .ant-drawer-body .inputGroup {
  width: 100%;
}

.ant-drawer-content .ant-drawer-body .inputGroup .ant-input-group.ant-input-group-compact {
  width: 100%;
}

.ant-drawer-content .ant-drawer-body .inputGroup .ant-input-group .ant-select .ant-select-selection {
  background-color: #e5e5e5 !important;
  width: 90px;
  flex: 1;
  font-size: 12px;
  margin-left: 18px;
  height: 30px;
  margin-top: 13px;
  border-radius: 15px !important;
}

.ant-drawer-content .ant-drawer-body .inputGroup .ant-select-selection {
  border: 1px solid transparent;
}

.ant-drawer-content .ant-drawer-body .inputGroup .ant-select-selection:hover {
  border-color: transparent;
}

.ant-drawer-content .ant-drawer-body .inputGroup .ant-select-focused .ant-select-selection, .ant-drawer-content .ant-drawer-body .inputGroup .ant-select-selection:focus, .ant-drawer-content .ant-drawer-body .inputGroup .ant-select-selection:active {
  -webkit-box-shadow: 0 0 0 2px transparent;
  box-shadow: 0 0 0 2px transparent;
  flex: 1;
}
