.alarm-content{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    width:100%;
    height:100%; 
    position: relative;
    font-size: 12px;
    .am-tabs-pane-wrap{
        margin-top: 40px;
    }
    .am-tabs-tab-bar-wrap {
        .am-tabs-default-bar-content{
            padding: 0 10px;
        }   
        .am-tabs-default-bar-tab-active{
            color: #108ee9;
            border-bottom:  1px solid #108ee9 !important;
            height: 32px;
            margin-top: 6px;
            line-height: 32px;
            box-sizing: border-box; 
        }
        .am-tabs-default-bar-underline{
            border: none;
        } 
        .am-tabs-default-bar-tab::after{
            height: 0PX;
        }
    } 
}
.tab-header{ 
    width: 100%;
    margin-top: 5px;
    padding: 0px 10px 0px 10px;
    position: absolute;
    top:43.5px;
    display: flex;
    z-index: 1;
    .inputGroup{
        display: flex;
        width: 80%;
        .ant-input-group.ant-input-group-compact{
            display: flex;
            }
       .ant-input-group {
           .ant-select {
             .ant-select-selection {
                 background-color: #f0f0f0 !important;
                 width: 80px;
                 font-size: 12px;
             }
           }
       }
       .ant-select.ant-select-enabled{
        flex: 1;
        }
       .ant-select-selection{
        border: 1px solid transparent;
       }
       .ant-select-selection:hover {
            border-color: transparent;
        }
       .ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active{
            -webkit-box-shadow: 0 0 0 2px transparent;
            box-shadow: 0 0 0 2px transparent;
            flex:1;
        }
    }
    .color-box{
        margin-top: 5px;
        float:right;
        display: flex;
        :first-child{
            background-color: #F40000;
        }
        :nth-child(2){
            background-color: #FE7757;
        }
        :nth-child(3){
            background-color: #FFB144;
        }
        :nth-child(4){
            background-color: #FFDF2E;
        }
        .smallbox{
            display:inline-block;
            height:18px ;
            width: 18px;
            margin-right: 5px;                
        }
    }
    
}
.am-tabs-default-bar-top {
    .am-tabs-default-bar-tab::after{
        height: 0PX !important;
    }
    .am-tabs-default-bar-tab{
        font-size: 12px;
    }
}
.alarmNews{
    margin-top: 5px;
    height: 118px;
    width: 100%;
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    font-size: 15px;
    padding: 0px 12px 10px 12px ;
    .alarmNews-left{
        float: left;
        height: 118px;
        width: 57px;
        text-align: center;
        line-height: 118px;
        .circle{
                color: rgba(219, 23, 41, 1);
                font-size: 12px;
                width: 40px;
                height: 40px;
                border-radius: 20px;
                font-size: 14px;
                line-height: 40px;
                border: rgba(219, 23, 41, 1) solid 2px;
                text-align: center;
                margin-top: 40px;
        }
    }
    .alarmNews-right{
        float:left;
        height: 100%;
        width: 100%;
        .content-top{
            display: flex;
            b{
                padding-top: 10px;
                font-size: 12px;
            }
            p{
                padding-left: 8px;
                padding-top: 12px;
                margin-bottom:0px !important;
                font-size: 12px;
            }
        }
        .content-bottom{
                margin-top: 8px;
                padding:  0px 8px ;
                width: 100%;
                height: 74px;
                color: rgba(80, 80, 80, 1);
                background-color: rgba(169, 161, 161, 0.09285714285714292);
                font-size: 14px;
            li{
                height: 18px;
                margin-top: 5px;
                font-size: 12px;
            }
        }

    }

    
}