.dialogSource{
    height: auto;
    overflow: auto;
    .dialogHeader{
        padding: 0;
        width: 100%;
        height: 44px;
        line-height: 44px;
        display: flex;
        background: #fff;
        padding: 0 5px;
        border-bottom: 1px solid #f2f2f2;
        div:first-child{
            padding-top: 5px;
        }
        div:nth-child(2) {
            flex: 1;
            font-size: 16px;
            text-align: center;
        }
    }
    .clearfix{
        display: flex;
        justify-content: space-between;
    }
    .am-tabs-default-bar-top .am-tabs-default-bar-tab{
        border-bottom: none;
    }
    .am-tabs-tab-bar-wrap {
        padding: 0 10px;
        .am-tabs-default-bar-tab{
            font-size: 12px;
        }
    }
    .am-tabs-pane-wrap{
        background: #f2f2f2;
        .dialogbg{
            height: auto;
            background: #fff;
            margin: 10px;
            padding: 10px;
            border-radius: 4px;
            font-size: 12px;
            color: rgba(128, 128, 128, 1);
            position: relative;
            p{
                margin: 6px 0;
            }
            i{
                display: flex;
                width: 100%;
                height: 1px;
                background:rgba(128, 128, 128, .3);
            }
            .seleIcon{
                position: absolute;
                right: 20px;
                top: 14px;
            }
            .zhanbigrid{
                display: flex;
                flex-wrap: wrap;
                li{
                    width: 50%;
                    height: 44px;
                    line-height: 44px;
                    border-right: 1px solid #f2f2f2;
                    border-bottom: 1px solid #f2f2f2;
                    text-align: center;
                    b{
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: #f2f2f2;
                        margin-right: 10px;
                    }
                    span{
                        margin-left: 10px;
                    }
                }
                li:first-child b{
                    background: #2AB06F;
                }
                li:nth-child(2) b{
                    background: #6BCB8B;
                }
                li:nth-child(3) b{
                    background: #FFE11C;
                }
                li:nth-child(4) b{
                    background: #EF651F;
                }
                li:nth-child(2), li:nth-child(4){
                    border-right: none;
                }
            }
            .normInfo{
                width: 100%;
                height: 60px;
                h3{
                    width: 100%;
                    height: 34px;
                    line-height: 34px;
                    font-size: 22px;
                    color: rgba(56, 56, 56, 1);
                    text-align: center;
                }
                p{
                    width: 100%;
                    height: 20px;
                    line-height: 20px;
                    margin-top: 6px;
                    color: rgba(152, 152, 152, 1);
                    font-size: 14px;
                    text-align: center;
                }
            }
            .double_top_title{
                width: 100%;
                margin: 4px 0;
                text-align: right;
            }
            .inner_flown{
                .first_list1{
                    display:flex;
                    justify-content: space-between;
                    height: 30px;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 30px;
                    color: rgba(128, 128, 128, 1);
                    }
                    .sec_list1{
                        height: 8px;
                        background-color: rgb(46,71,175);
                    cursor: pointer;
                    }
                    :hover.sec_list1{
                        transform: scale(1,1.3);
                    }
                    .three_list1{
                        height: 8px;
                        background-color: rgb(56,84,203);
                        width: 70%;
                        margin-top: 10px;
                        cursor: pointer;
                    }
                    :hover.three_list1{
                        transform: scale(1,1.2);
                    }
                    .history_list1{
                        font-weight: 400;
                        font-size: 12px;
                        color: #666;
                    }
            }
            .zhaiyao{
                margin-right: 6px;
            }
        }
    }
    
    
}
.am-modal-transparent {
    width: 85% !important;
    height: 90%;
    padding-top: 0 !important;
    border-radius: 0 !important;
}
.am-modal-content{
    padding-top: 0 !important;
    border-radius: 0 !important;
    display: flex;
    flex-direction: column;
    text-align: left !important;
    .am-modal-header{
        height: 44px;
        line-height: 44px;
        background: rgba(57, 126, 253, 1);
        padding: 0 !important;
        .am-modal-title{
            width: 100%;
            height: 44px;
            line-height: 44px;
            .seleType_head{
                display: flex;
                justify-content: space-between;
                color: #fff;
                padding:0 10px;
                font-size: 16px;
                .am-icon{
                    padding-top: 10px;
                    font-weight: bold;
                }
            }
        }
    }
    .am-modal-body{
        flex: 1;
        overflow: auto;
        .normStyle{
            height: auto;
            p{
                margin-top: 22px;
                margin-bottom: 10px;
                font-size: 14px;
            }
            ul{
                height: 50px;
                box-sizing: border-box;
                // padding: 4px;
                li{
                    display: flex;
                    margin-bottom: 10px;
                    color: rgba(56, 56, 56, 1);
                    border: rgba(202, 202, 202, 1) solid 1px;
                    font-size: 12px;
                    div:first-child{
                        width: 48px;
                        height: 48px;
                        // background: rgba(57, 126, 253, 1);
                       text-align: center;
                       line-height: 48px;
                        margin-right: 10px;
                    }
                    div:last-child{
                        margin-top: 6px;
                    }
                    span{
                        color: rgba(126, 126, 126, 1);
                        display: block;
                        // font-size: 10px;
                        // padding-top: 4px;
                        box-sizing: border-box;
                    }
                }
                li.active{
                    background: rgba(57, 126, 253, 1);
                    color: #fff;
                }
            }
        }
    }
    .am-modal-footer{
        .sourceSeleBtn{
            display: flex;
            font-size: 14px;
            div{
                width: 50%;
                height: auto;
                line-height: 50px;
                border-radius: 0;
                background: rgba(229, 229, 229, 1);
                color: rgba(80, 80, 80, 1);
            }
            div.primary{
                background: rgba(57, 126, 253, 1);
                color: #fff;
            }
        }
    }
}