.myPage {
  height: 100%;
  overflow-y: auto;
}

.myPage .loginCont {
  height: 205px;
  background: url("../../images/login_bg.png") no-repeat;
  background-size: 100% 100%;
  padding-top: 10px;
  position: relative;
  color: #fff;
}

.myPage .loginCont .headImg {
  width: 100%;
  border-radius: 50%;
}

.myPage .loginCont .headImg div {
  background: skyblue;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  border-radius: 50%;
}

.myPage .loginCont .userName {
  position: absolute;
  bottom: 48px;
}

.myPage .loginCont .infoStatus {
  position: absolute;
  bottom: 24px;
}

.myPage .loginCont .userName, .myPage .loginCont .infoStatus {
  width: 100%;
  text-align: center;
}

.myPage .list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.myPage .list li {
  width: 100%;
  height: 48px;
  top: 254px;
  color: #505050;
  background-color: white;
  font-size: 13px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
}

.myPage .list li > div {
  width: auto;
  height: auto;
}

.myPage .list li > div > span {
  color: #a6a6a6;
}

.myPage .list li > div .icon {
  width: 5px;
  height: auto;
  margin-left: 5px;
}
